In [1]:
import pandas as pd

estados = ["SP", "RJ", "MG", "ES", "Outros"]
faturamento = [67836.43, 36678.66, 29229.88, 27165.48, 19849.53]
porcentagem = []
total = sum(faturamento)

for i in range(len(estados)):
    porcentagem.append(f'{round(faturamento[i]*100/total,2)} %')

dic = {"Estado": estados, "Faturamento (R$)": faturamento, "Participação": porcentagem}
dados = pd.DataFrame(data=dic)

display(dados)

   Estado  Faturamento (R$) Participação
0      SP          67836.43      37.53 %
1      RJ          36678.66      20.29 %
2      MG          29229.88      16.17 %
3      ES          27165.48      15.03 %
4  Outros          19849.53      10.98 %